.img{
  width: 300px;
  height: 280px;
  object-fit: cover ;
  /*border-style: solid;*/
  border-color:  blue;
}
.searchbar{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-right: 200px;
}